---
import CopyIcon from "~/components/CopyIcon/CopyIcon";
import { installCommand } from "~/config";
---

<>
  <span class="text-gray-100 zpix font-bold">$</span>
  <span class="sm:pr-4 flex-grow">{installCommand}</span>
  <CopyIcon
    client:only="react"
    copyString={installCommand}
    holdTime={1233}
  />
</>
