---
import CopyIcon from "~/components/CopyIcon/CopyIcon";
---

<>
  <span class="text-gray-100 zpix font-bold">$</span>
  <span class="sm:pr-4 flex-grow">pnpm install @raipiot/reactHooks</span>
  <CopyIcon
    client:only="react"
    copyString="pnpm install @raipiot/reactHooks"
    holdTime={1233}
  />
</>
