---
import CodeGay from "~/assets/images/code-gay.svg";
import CopyIcon from "~/components/CopyIcon/CopyIcon.tsx";
import { installCommand, packageInfo } from "~/config";
import InstallCommand from "./InstallCommand.astro";
---

<div
  class="px-4 py-16 max-w-[1100px] mx-auto grid grid-cols-1 md:grid-cols-[450px_auto]"
>
  <div class="px-4 sm:px-8">
    <div class="text-5xl mb-8">
      Make web development easier with <span
        class="font-bold text-6xl bg-gradient-to-r from-sky-600 via-green-400 to-indigo-300 inline-block text-transparent bg-clip-text">{packageInfo.name}</span
      >
      <span class="text-sm opacity-50">{packageInfo.version}</span>
    </div>
    <div class="text-gray-200">
      {packageInfo.description}
    </div>
    <div
      class="my-12 flex justify-center sm:float-end group relative overflow-hidden"
    >
      <div
        class="text-white rounded-tl-[18px] border-b-[3px] border-b-transparent flex items-center gap-2 rounded-br-xl text-md bg-sky-500 p-2.5 md:px-4 text-[var(--r-theme)] hover:scale-100 transition-all"
      >
        <InstallCommand />
      </div>
      <div
        class="!hidden sm:!block rounded-br-xl group-hover:inline-block w-[99%] h-1 absolute bottom-0 left-0 group-hover:h-2 group-hover:w-full transition-all bg-sky-700"
      >
      </div>
    </div>
  </div>
  <div class="flex items-center justify-center my-8 sm:my-0">
    <img
      src={CodeGay.src}
      alt="a code gay"
      class="w-[300px] md:w-[320px] lg:w-[400px] animate-verticalLoop hover:animate-pause"
    />
  </div>
</div>
