---
import CodeGay from "~/assets/images/code-gay.svg";
import CopyIcon from "~/components/CopyIcon/CopyIcon.tsx";
---

<div
  class="px-4 py-16 max-w-[1100px] mx-auto grid grid-cols-1 md:grid-cols-[450px_auto]"
>
  <div class="px-4 sm:px-8">
    <div class="text-5xl mb-8">
      Make React development easier with common <span
        class="text-sky-500 font-bold">react hooks</span
      >
    </div>
    <div class="text-gray-200">
      Continuously refine reusable React hooks code and extract common logic,
      making it easier for developers to write React Hooks
    </div>
    <div
      class="my-12 flex justify-center sm:float-end group relative overflow-hidden"
    >
      <div
        class="text-white rounded-tl-[18px] border-b-[3px] border-b-transparent flex items-center gap-2 rounded-br-xl text-md bg-sky-500 p-2.5 md:px-4 text-[var(--r-theme)] hover:scale-100 transition-all"
      >
        <span class="text-gray-100 zpix font-bold">$</span>
        <span class="sm:pr-4">pnpm install @raipiot/reactHooks</span>
        <CopyIcon
          client:only="react"
          copyString="pnpm install @raipiot/reactHooks"
          holdTime={1233}
        />
      </div>
      <div
        class="block rounded-br-xl group-hover:inline-block w-[99%] h-1 absolute bottom-0 left-0 group-hover:h-2 group-hover:w-full transition-all bg-sky-700"
      >
      </div>
    </div>
  </div>
  <div class="flex items-center justify-center my-8 sm:my-0">
    <img
      src={CodeGay.src}
      alt="a code gay"
      class="w-[300px] md:w-[320px] lg:w-[400px] animate-verticalLoop hover:animate-pause"
    />
  </div>
</div>
