---
import SubscriptionIcon from "~icons/mdi-light/rss";
---

<div
  class="max-w-[360px] sm:flex hidden flex-col gap-4 border border-gray-900 p-4 rounded-sm shadow-gray-50 bg-gray-900"
>
  <div class="text-2xl">Keep following us</div>
  <p class="mb-2">We will send you an email after each update.</p>
  <div
    class="grid grid-cols-[auto_24px] bg-white w-full items-center cursor-pointer"
  >
    <input
      type="email"
      class="flex-grow block p-2 border text-sky-600 border-none outline-none"
      placeholder="Your email"
    />
    <button id="subscription-button" class="text-sky-700 mr-1 cursor-pointer">
      <SubscriptionIcon
        style={{
          cursor: "pointer",
        }}
      />
    </button>
  </div>
</div>

<script>
  import { errorNotify, promiseNotify } from "~/utils/notify";
  import { request } from "~/utils/request";
  import { isEmail } from "~/utils/verify";
  import { debounce } from 'lodash-es'

  const subscriptionButton = document.getElementById("subscription-button");
  const onSendEmail = debounce(async () => {
    const email = subscriptionButton.previousElementSibling["value"];
    if (isEmail(email)) {
      const resp = await promiseNotify(
        request("/api/subscribe", {
          method: "POST",
          body: JSON.stringify({
            email,
          }),
        }),
        "We have sent you an email, please check it and confirm your subscription.",
      );
      console.log('resp ...', resp)
    } else {
      errorNotify("Please enter your email");
    }
  }, 500)
  subscriptionButton?.addEventListener("click", onSendEmail);
  const input = subscriptionButton?.previousElementSibling;
  input?.addEventListener("keypress", (e) => {
    if (e["key"] === "Enter") {
      onSendEmail();
    }
  });
</script>
