.header_nav {
  a::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    height: 2px;
    background: rgb(14 165 233);
    transition: width 0.3s ease-in-out;
    width: 0;
    margin: 0 auto;
    left: 0;
    right: 0;
  }
  a:hover::after {
    width: 100%;
  }  
}
