---
const { headings } = Astro.props;
---

<aside
  id="content-aside"
  class="fixed w-[200px] top-[360px] hidden lg:block rounded-md"
  style="left: calc(50vw + 360px)"
>
  <div class="p-4 pb-0 font-bold text-lg">Content Navigation</div>
  {
    headings.length > 0 && (
      <ul class="list-none p-2 pl-4 text-sky-400">
        {headings.map((i) => (
          <li
            class="truncate relative my-1 text-sm transition-opacity"
            style={{
              paddingLeft: `${(i.depth - 1) * 12}px`,
            }}
          >
            <a href={`#${i.slug}`}>{i.text}</a>
          </li>
        ))}
      </ul>
    )
  }
</aside>