---
const { hooks } = Astro.props
---

<div>
<ul class="p-2">
  {
    hooks.map(hook => (
      <li class="px-2 py-2 mb-2 bg-[var(--r-theme)]">
        <a href={`/hooks/${hook}`}>{hook}</a>
      </li>
    ))
  }

</ul>

</div>