---
interface Props {
	title: string;
}

const { title } = Astro.props;
import Header from "~/components/Header/Header.astro"
import Footer from "~/components/Footer/Footer.astro"
import '~/styles/base.tw.css';
import '~/styles/public.css';
import { Toaster } from 'react-hot-toast';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Raipiot team: react hooks examples" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Header />
		<div class="flex-grow mb-auto">
			<slot />
		</div>
		<Toaster client:only="react" />
		<Footer />
	</body>
</html>
